# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDE
.vscode
.idea

# misc
.DS_Store
.env.local
.env.*.local
/data/*
/postgres
terraform.tfvars
terraform.tfstate.backup
terraform.tfstate
.terraform


# Testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
