module.exports = {
  development: {
    username: 'pguser',
    password: 'pguser',
    database: 'db_dev',
    host: 'postgres',
    dialect: 'postgres'
  },
  test: {
    username: 'pguser',
    password: 'pguser',
    database: 'db_test',
    host: 'postgres',
    dialect: 'postgres'
  },
  production: process.env.DATABASE_URL
}
