module.exports = {
  development: {
    username: 'pguser',
    password: 'pguser',
    database: 'dbdev',
    host: 'dbpostgres',
    dialect: 'postgres'
  },
  test: {
    username: 'pguser',
    password: 'pguser',
    database: 'dbtest',
    host: 'dbpostgres',
    dialect: 'postgres'
  },
  production: process.env.DATABASE_URL
}
